@{
    ViewData["Title"] = "Thông tin cá nhân";
}

<h2>Thông tin cá nhân</h2>

<ul style="font-size: 18px;">
    <li><strong>Họ và tên:</strong> Đặng Hoàng Quân</li>
    <li><strong>Mã số sinh viên:</strong> 2200011643</li>
    <li><strong>Ngày sinh:</strong> 03/02/2001</li>
    <li><strong>Email:</strong> danghoangquan3201@gmail.com</li>
    <li><strong>Sở thích:</strong> Đọc sách, Vẽ, Lập trình</li>
</ul>